@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');

html.lock{
	overflow:hidden;
}

.wrapper{
	min-height:100%;
}
.parallax {
	min-height:100vh;
}
.parallax__body {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.parallax__container {
	position: absolute;
	top:100px;
	left:0;
	right:0;
	text-align: center;
	margin: 0 auto;
	z-index:2;
	span{
		transition:all 1s ease 0s;
		opacity:0;
		font-family: 'Roboto';
		font-size: 50px;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		font-weight: 100;
		color:#fbfbfb;
	}
}
.container {}
.parallax__images {
	position: fixed;
	top:0;
	left:0;
	right:5%;
	min-height:100%;
	background: lightblue;
}
.parallax__item{
	position: absolute;
	width:110%;
	height:110%;
}
.p-images .bg {
	background: url('../img/temp/bg.jpg') center / cover no-repeat;
	//background-size: 100% 100%;
	filter:blur(6px)
	//width:120%;
	//height:120%;
}
.p-images .cloud1 {
	transition: all 0.1s ease 0s;
	//position: absolute;
	//width:100%;
	//height:100%;
	left:-45%;
	background: url('../img/temp/c01.png') top / cover no-repeat;
	//transform:scale(-1,1);
	bottom:-45%;
	z-index: 3;
}
.p-images .cloud2 {
	transition: all 0.1s ease 0s;
	//position: absolute;
	//width:100%;
	//height:100%;
	right:-40%;
	background: url('../img/temp/c01.png') top / cover no-repeat;
	bottom:-35%;
	z-index: 3;
}
.p-images .billy {
	transition: all 0.1s ease 0s;
	//position: absolute;
	//width:30%;
	//height:100vh;
	//right:0;
	//margin: 0 auto;
	right:0%;
	bottom:-25%;
	background-position:bottom;
	background: url('../img/temp/b01.png') top  no-repeat;
	//top:5%;
	//z-index:2;
}
@media (max-width:1000px){
	.cloud2{
		display: none;
	}
	.p-images .cloud1{
		right:0;
		left:-5%;
		bottom:-60%;
		//margin: 0 auto;
	}
	.p-images .billy{
		right:-5%;
	}
}
@media (max-width:888px){
	.p-images .cloud1{
		right:-5%;
		left:0;
		bottom:-60%;
		//background-size:105%;
		//margin: 0 auto;
	}
}
@media (max-width: 967px){
	.header__menu{
		display: none;
	}
}
.p-images {}
.item {}
.header{
	z-index:50;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:60px;
	background: #fbfbfb;
	padding:10px 0;
}
.container {
	max-width:1200px;
	margin: 0 auto;
}
@media (max-width:1200px){
	.container{
		max-width:100%;
		padding: 0 1%;
	}
}
.header__body {
	display: flex;
	align-items:center;
	justify-content:space-between;
	position: relative;
	z-index:40;
}
.header__logo {
	pointer-events:none;
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 40px;
	font-style: italic;
	letter-spacing: 0.06em;
	color:#181818;
}
.header__menu {
	position: fixed;
	top:10px;
	left:0;
	right:0;
	width:340px;
	margin: 0 auto;
}
.header__list {
	display: flex;
	gap:30px;
}
.header__link {
	font-family: 'roboto';
	font-size: 35px;
	color:#181818;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-weight: 100;
}
.header__burger {
	z-index:50;
	transition: all 0.3s ease 0s;
	position: relative;
	width:34px;
	height:30px;
	span{
		transition: all 0.3s ease 0s;
		opacity: 1;
		display: block;
		width:100%;
		height:5px;
		position:absolute;
		left:0;
		top:12.5px;
		background: #181818;
		border-radius: 5px;
	}
	&:after{
		transition: all 0.3s ease 0s;
		content:'';
		display: block;
		position: absolute;
		top:25px;
		left:0;
		width:100%;
		height:5px;
		background: #181818;
		border-radius: 5px;
	}
	&:before{
		transition: all 0.3s ease 0s;
		content:'';
		display: block;
		position: absolute;
		top:0px;
		left:0;
		width:100%;
		height:5px;
		background: #181818;
		border-radius: 5px;
	}
}
.header__burger.active{
	&:after{
		top:12.5px;
		transform:rotate(45deg);
	}
	&:before{
		top:12.5px;
		transform:rotate(-45deg);
	}
	span{
		width:5px;
		left:0;
		right:0;
		margin: 0 auto;
	}
}
.header__menu-burger{
	transition: all 0.3s ease 0s;
	position: absolute;
	padding:60px 0 0 0;
	width:100vw;
	height:120vh;
	background: #fbfbfb;
	.header__list{
		display: block;
		li{
			margin: 20px 0 0 0;
		}
	}
	top:-10px;
	left:-150vw;
	&.active{
		left:0;
	}
}
.burger {}
.content {
	//background: #0b1d26;
	color:#000;
	z-index: 40;
	position: relative;
	min-height:100vh;
	background: #fbfbfb;
}
.content:before{
	content:'';
	position: absolute;
	top:0;
	left:0;
	width:100%;
	min-height:300px;
	transform:translate(0,-100%);
	background: linear-gradient(180deg, rgba(11,29,38,0) 5%, #fbfbfb 100%);
}

//tips
.tips {}
.container {}
.tips__list{
	li{
		position: relative;
		display: block;
		width:100px;
		height:100px;
	}
	li.active{
		.tips__front{
			transform: rotateY(180deg);
		}
		.tips__back{
			transform: rotateY(360deg);
		}
	}
}
.tips__front,.tips__back {
	transition: 0.5s;
	position: absolute;
	width:100%;
	height:100%;
	left:0;
	right:0;
	top:0;
	display: flex;
	justify-content:center;
	align-items:center;
	backface-visibility:hidden;
}
.tips__front{
	background: #000;
}
.tips__back{
	background: #ccc;
	transform: rotateY(180deg);
}



.footer{
	z-index:5;
}